.navbar {
    display: flex;
    background-color: #1f2937;
}
.navbar__logo {
    padding-left: 64px;
}
.navbar__logo-text {
    font-family: "Roboto", sans-serif;
    color: #f9faf8;
    font-weight: 900;
    font-size: 1.5rem;

}
.navbar__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    gap: 64px;
}
.navbar__menu-items {
    display: flex;
    flex: 1;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    gap: 64px;
    font-size: 0.5 rem;
    padding-right: 64px;
    color: #f9faf8;
    font-family: "Roboto", sans-serif;
}
a {
    text-decoration: none;
    color: #f9faf8;
    text-transform: capitalize;
}
.hero {
    display: flex;
    justify-content: center;
    gap: 80px;
    align-items: center;
    background-color: #1f2937;
    padding: 40px;
    flex: 1;
}
.hero__content {
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    align-items: center;
}
.hero__heading h1 {
    font-family: "Roboto";
    font-weight: 900;
    font-size: 3rem;
    color: #f9faf8;
}
.hero__text p {
    font-family: "Roboto";
    font-size: 1rem;
    color: #e5e7eb;
}
.hero__img img{
    width: 50%;
}
.hero__signup {
    background-color: #3882F6; /* Green */
    border: none;
    color: white;
    padding: 20px 15px 20px 15px;
    border-radius: 10%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.hero__button a {
    color: #fff;
    font-family: "Roboto";
}
.information-heading h2 {
    text-align: center;
    font-size: 2rem;
    color: #1f2937;
    font-weight: 900;
    font-family: "Roboto";
    padding: 50px;
}
.information-part2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    gap: 20px
}
.information-item {
    justify-content: space-around;
    align-items: center;
}
.information-item img {
    width: 70%;
}
.information-item p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 70%;
    font-family: "Roboto";
    font-size: 1rem;
    color: #1f2937;
}
.quote{
    background-color: #e5e7eb;
    padding: 50px;
}
.quote-text {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 2rem;
    color: #1f2937;
}
.quote-author {
    color: #1f2937;
    font-weight: 900;
    font-family: "Roboto";
    text-align: right;
}
.call-to-action {
    display: flex;
    margin: 50px;
    margin-right: 100px;
    margin-left: 100px;
    background-color: #3882F6;
    align-items: center;
    justify-content: center;
    gap: 60px;
}
.cta-content {
    display: block;
    padding: 50px;
}
.cta-content h3 {
    font-family: "Roboto";
    color: #f9faf8;
    font-size: 1.5rem;
    padding: 0;
    margin-bottom: 0;

}
.cta-content p {
    font-family: "Roboto";
    color: #e5e7eb;
    font-size: 0.8rem;
    margin-top: 5px;
    margin-bottom: 30px;
}
.cta__signup {
    background-color: #3882F6; /* Green */
    border: 2px solid white;
    color: white;
    padding: 20px 15px 20px 15px;
    border-radius: 10%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
footer {
    background-color: #1f2937;
    align-items: center;
    justify-content: center;
    display: flex;
}
footer p {
    color: #e5e7eb;
    text-align: center;
    font-family: "Roboto";
    font-size: 1rem;
    padding: 30px;
    margin: 0;
    font-weight: thin;
}